<footer class="footer">
	<small> 
		<a href="http://rabirajmalla.com"> Sample App </a>developed following rails tutorial on <a href="http://railstutorial.org/">railstutorial.org</a> by Michael Hartl
	</small>

	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://rabirajmalla.com">News<a></li>
		</ul>
	</nav>
</footer>